.wj-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wj-tabs-button-list {
  display: flex;
  flex-wrap: wrap;
}

.wj-tabs-button {
  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;
  user-select: none;
}

.wj-tabs-panel {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:not(:focus-visible) {
    outline: none;
  }
}
