# TODO: turn this off at some point
legacy-peer-deps = true

# PNPM
link-workspace-packages = deep
ignore-workspace-root-check = true
shamefully-hoist = true # wish this wouldn't be required, but build tools won't cooperate
