/* If variable fonts are supported */
@supports (font-variation-settings: normal) {
  /* -- Public Sans */

  @font-face {
    font-family: "Public Sans";
    font-weight: 100 900;
    src: url("/fonts/variable/PublicSans-VariableFont.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/variable/PublicSans-Italic-VariableFont.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  /* -- Bitter */

  @font-face {
    font-family: "Bitter";
    font-weight: 100 900;
    src: url("/fonts/variable/Bitter-VariableFont.woff2") format("woff2-variations");
    font-display: swap;
  }
  @font-face {
    font-family: "Bitter";
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/variable/Bitter-Italic-VariableFont.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  /* -- Exo 2 */

  @font-face {
    font-family: "Exo 2";
    font-weight: 100 900;
    src: url("/fonts/variable/Exo2-VariableFont.woff2") format("woff2-variations");
    font-display: swap;
  }
  @font-face {
    font-family: "Exo 2";
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/variable/Exo2-Italic-VariableFont.woff2") format("woff2-variations");
    font-display: swap;
  }

  /* -- Roboto */

  @font-face {
    font-family: "Roboto";
    font-weight: 100 900;
    font-stretch: 75 100;
    src: url("/fonts/variable/Roboto-VariableFont.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 75 100;
    src: url("/fonts/variable/Roboto-Italic-VariableFont.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  /* -- Cascadia Mono */

  @font-face {
    font-family: "Cascadia Mono";
    font-style: normal;
    font-weight: 200 700;
    src: url("/fonts/variable/CascadiaMono.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Cascadia Mono";
    font-style: italic;
    font-weight: 200 700;
    src: url("/fonts/variable/CascadiaMonoItalic.woff2") format("woff2-variations");
    font-display: swap;
  }

  /* -- Noto Sans CJK {HK, JP, KR, SC, TC} */

  @font-face {
    font-family: "Noto Sans CJK HK";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansHK-VF.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans CJK JP";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansJP-VF.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans CJK KR";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansKR-VF.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans CJK SC";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansSC-VF.woff2") format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans CJK TC";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansTC-VF.woff2") format("woff2-variations");
    font-display: swap;
  }

  /* -- Noto Sans Mono CJK {HK, JP, KR, SC, TC} */

  /*
    I couldn't get the variable Noto Sans Mono CJK fonts to work at all.
    Both Firefox and Chrome would simply refuse to load any WOFF2 forms of them,
    which was the only format they could be in because otherwise they'd be 30+ MB.
    These font-faces are left here so that if they ever do start working again they
    can easily be added back. Adding all of these font-faces is really tedious.
  */

  /* @font-face {
    font-family: "Noto Sans Mono CJK HK";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansMonoCJKhk-VF.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans Mono CJK JP";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansMonoCJKjp-VF.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans Mono CJK KR";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansMonoCJKkr-VF.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans Mono CJK SC";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansMonoCJKsc-VF.woff2")
      format("woff2-variations");
    font-display: swap;
  }

  @font-face {
    font-family: "Noto Sans Mono CJK TC";
    font-weight: 400 700;
    src: url("/fonts/variable/NotoSansMonoCJKtc-VF.woff2")
      format("woff2-variations");
    font-display: swap;
  } */
}

/* -- Noto Sans Mono CJK {HK, JP, KR, SC, TC} */

@font-face {
  font-family: "Noto Sans Mono CJK HK";
  font-weight: normal;
  src: url("/fonts/NotoSansMonoCJKhk-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK HK";
  font-weight: bold;
  src: url("/fonts/NotoSansMonoCJKhk-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK JP";
  font-weight: normal;
  src: url("/fonts/NotoSansMonoCJKjp-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK JP";
  font-weight: bold;
  src: url("/fonts/NotoSansMonoCJKjp-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK KR";
  font-weight: normal;
  src: url("/fonts/NotoSansMonoCJKkr-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK KR";
  font-weight: bold;
  src: url("/fonts/NotoSansMonoCJKkr-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK SC";
  font-weight: normal;
  src: url("/fonts/NotoSansMonoCJKsc-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK SC";
  font-weight: bold;
  src: url("/fonts/NotoSansMonoCJKsc-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK TC";
  font-weight: normal;
  src: url("/fonts/NotoSansMonoCJKtc-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono CJK TC";
  font-weight: bold;
  src: url("/fonts/NotoSansMonoCJKtc-Bold.woff2") format("woff2");
  font-display: swap;
}
