

.search-box{}

.search-box .query-area{
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.search-results{
	margin: 1em 0;
}

.search-results .item{
	margin: 0.5em 0;
}

.search-results .item .title{
	font-size: 120%;
}

.search-results .item .preview{
	font-size: 100%;
}

.search-results .item .url{
	color: #484;
}

.search-box .pager {
	margin: 1em 0;
	text-align: center;
}
