// Global Colors
// prettier-ignore
:root {
  // Monochrome
  --col-white:     rgb(245, 245, 245);
  --col-lightgray: rgb(185, 185, 185);
  --col-gray:      rgb(60, 50, 55);
  --col-black:     rgb(20, 20, 20);

  // Accent
  --col-accent-1: rgb(25, 169, 255);
  --col-accent-2: rgb(0, 104, 181);

  // Contextual
  --col-hint:    rgb(50, 150, 255);
  --col-success: rgb(30, 180, 65);
  --col-danger:  rgb(180, 45, 10);
  --col-warning: rgb(240, 125, 0);
  --col-info:    rgb(20, 125, 205);

  // Misc
  --col-text-highlight: rgb(255, 255, 0);
  --col-text-select:    rgba(50, 150, 255, 0.25);
  --col-link-ext:       rgb(50, 150, 255);
  --col-link-int:       rgb(0, 105, 175);

  // Base Theme Colors
  --col-light-text:           rgb(30, 25, 25);
  --col-light-text-subtle:    rgb(55, 55, 60);
  --col-light-text-dim:       rgb(120, 120, 125);
  --col-light-background:     rgb(245, 245, 245);
  --col-light-background-dim: rgb(230, 230, 230);
  --col-light-border:         rgb(215, 215, 215);

  --col-dark-text:           rgb(235, 225, 230);
  --col-dark-text-subtle:    rgb(205, 200, 200);
  --col-dark-text-dim:       rgb(190, 185, 185);
  --col-dark-background:     rgb(43, 43, 50);
  --col-dark-background-dim: rgb(55, 55, 65);
  --col-dark-border:         rgb(65, 65, 75);
}

// Actual classes for setting the dark/light mode

// prettier-ignore
.light {
  --col-text:           var(--col-light-text);
  --col-text-subtle:    var(--col-light-text-subtle);
  --col-text-dim:       var(--col-light-text-dim);
  --col-background:     var(--col-light-background);
  --col-background-dim: var(--col-light-background-dim);
  --col-border:         var(--col-light-border);

  // Contrasting colors
  --col-con-text:           var(--col-dark-text);
  --col-con-text-subtle:    var(--col-dark-text-subtle);
  --col-con-text-dim:       var(--col-dark-text-dim);
  --col-con-background:     var(--col-dark-background);
  --col-con-background-dim: var(--col-dark-background-dim);
  --col-con-border:         var(--col-dark-border);

  color: var(--col-text);
  background: var(--col-background);
}

// prettier-ignore
.dark {
  --col-text:           var(--col-dark-text);
  --col-text-subtle:    var(--col-dark-text-subtle);
  --col-text-dim:       var(--col-dark-text-dim);
  --col-background:     var(--col-dark-background);
  --col-background-dim: var(--col-dark-background-dim);
  --col-border:         var(--col-dark-border);

  // Contrasting colors
  --col-con-text:           var(--col-light-text);
  --col-con-text-subtle:    var(--col-light-text-subtle);
  --col-con-text-dim:       var(--col-light-text-dim);
  --col-con-background:     var(--col-light-background);
  --col-con-background-dim: var(--col-light-background-dim);
  --col-con-border:         var(--col-light-border);

  color: var(--col-text);
  background: var(--col-background);
}
