:root {
  /// Height of the navigation bar.
  --layout-navbar-height: 2.75rem;

  /// Maximum width of the navbar's search field.
  --layout-navbar-search-width: 16rem;

  /// Height of the page header.
  --layout-header-height: 8rem;

  /// Height of the page footer.
  --layout-footer-height: 2rem;

  /// Height of the license box in the footer.
  --layout-license-height: 1.5rem;

  /// Width of the sidebar.
  --layout-sidebar-width: 16rem;

  /// Maximum width of the body.
  --layout-body-max-width: 50rem;

  /// Size of the gap between the body, sidebar, and the edge of the viewport.
  --layout-body-side-gap: 1rem;

  // Small displays (e.g. phones)
  @include media("<=small") {
    --layout-navbar-height: 3rem;
    --layout-body-side-gap: 0.5rem;
  }
}
