// Default everything to sans font
html,
body {
  font-family: var(--font-sans);
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

// Set base font families for elements.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 500;
}

code,
var,
samp,
tt,
kbd {
  font-family: var(--font-mono);
}

// Orderly heading sizes.

// prettier-ignore
$heading-sizes:
  "h1" 2rem,
  "h2" 1.5rem,
  "h3" 1.25rem,
  "h4" 1.15rem,
  "h5" 1rem,
  "h6" 0.75rem;

@each $heading, $size in $heading-sizes {
  #{$heading} {
    font-size: font-size($size);
  }
}

// Make `<small>` relative to its header.
small {
  font-size: 0.8em;
}

// Makes bold text consistently bolder than surrounding text.
b,
strong {
  font-weight: bolder;
}
