// Changing CJK font based on locale

// Japanese
:lang(ja) {
  --font-cjk: "Noto Sans CJK JP", "Noto Sans CJK SC", "Noto Sans CJK TC",
    "Noto Sans CJK KR";
  --font-cjk-mono: "Noto Sans Mono CJK JP";
}

// Korean
:lang(ko) {
  --font-cjk: "Noto Sans CJK KR", "Noto Sans CJK JP", "Noto Sans CJK SC",
    "Noto Sans CJK TC";
  --font-cjk-mono: "Noto Sans Mono CJK KR";
}

// Chinese (default), Chinese (mainland), Chinese (Simplified)
:lang(zh):not(:lang(zh-HK)):not(:lang(zh-TW)):not(:lang(zh-Hant)),
:lang(zh-Hans),
:lang(zh-CN) {
  --font-cjk: "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK JP",
    "Noto Sans CJK KR";
  --font-cjk-mono: "Noto Sans Mono CJK SC";
}

// Chinese (Hong Kong)
:lang(zh-HK) {
  --font-cjk: "Noto Sans CJK HK", "Noto Sans CJK SC", "Noto Sans CJK TC",
    "Noto Sans CJK JP", "Noto Sans CJK KR";
  --font-cjk-mono: "Noto Sans Mono CJK HK";
}

// Chinese (Taiwan), Chinese (Traditional)
:lang(zh-TW),
:lang(zh-Hant) {
  --font-cjk: "Noto Sans CJK TC", "Noto Sans CJK SC", "Noto Sans CJK JP",
    "Noto Sans CJK KR";
  --font-cjk-mono: "Noto Sans Mono CJK TC";
}

// Default everything to sans font
html,
body {
  font-family: var(--font-sans);
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

// Set base font families for elements.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 500;
}

code,
var,
samp,
tt,
kbd {
  font-family: var(--font-mono);
}

// Orderly heading sizes.

// prettier-ignore
$heading-sizes:
  "h1" 2.25rem,
  "h2" 2rem,
  "h3" 1.75rem,
  "h4" 1.5rem,
  "h5" 1.25rem,
  "h6" 1rem;

@each $heading, $size in $heading-sizes {
  #{$heading} {
    font-size: font-size($size);
  }
}

// Make `<small>` relative to its header.
small {
  font-size: 0.8em;
}

// Makes bold text consistently bolder than surrounding text.
b,
strong {
  font-weight: bolder;
}
