.wj-code {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 0.25em;

  pre {
    min-height: 0.5em;
  }

  code {
    font-family: "Courier New", Courier, monospace;
  }
}

.wj-code-panel {
  gap: 0.5em;
  padding: 0.25em 0.5em;
}

.wj-code-language {
  color: #07a;
}

.wj-code-copy {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.25em;
  transition: background 0.125s ease-in-out;

  @include hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .sprite-wj-clipboard {
    opacity: 0.375;
    transition: color 0.125s ease-in-out, opacity 0.125s ease-in-out;

    @include hover {
      color: #07a;
      opacity: 1;
    }
  }

  // always show the success icon as being "active"
  .sprite-wj-clipboard-success {
    color: #07a;
    opacity: 1;
  }
}
