# Source control
.git

# CI
.github

# Tests
ftml/test

# Vendored files and artifacts
*.log
ftml/target
ftml/pkg
deepwell/target
**/__pycache__
**/dist
**/node_modules

# Editor files
.idea
.vscode
.*.sw?

# Miscellaneous
*.bak
*~
