[submodule "lib/zf"]
	path = lib/zf
	url = git://github.com/tjohns/zf.git
[submodule "lib/spyc"]
	path = lib/spyc
	url = git://git.utsl.gen.nz/mirror/repo.or.cz/spyc.git
[submodule "lib/h2o"]
	path = lib/h2o
	url = git://github.com/speedmax/h2o-php.git
[submodule "lib/sfyaml"]
	path = lib/sfyaml
	url = git://github.com/fabpot/yaml.git
