# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @emmiegit
ftml                                @emmiegit

# The DEEPWELL replacement API service
.github/workflows/deepwell.yaml     @emmiegit
deepwell                            @emmiegit

# Frontend / Web server
framerail                           @Monkatraz @emmiegit
web                                 @Monkatraz

# Localization
.github/workflows/locales.yaml      @emmiegit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @danieltharp
/install/                           @danieltharp
