# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @emmiegit
ftml                                @emmiegit
web/app/Services/Wikitext           @emmiegit

# The DEEPWELL replacement API service
.github/workflows/deepwell.yaml     @emmiegit
deepwell                            @emmiegit
web/app/Services/Deepwell           @emmiegit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz
web/modules                         @Monkatraz
web/resources                       @Monkatraz

# Localization
.github/workflows/locales.yaml      @emmiegit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @danieltharp
/install/                           @danieltharp

# PHP and related
*.php                               @emmiegit @danieltharp
/web/composer.json                  @emmiegit @danieltharp
/web/phpunit.xml                    @emmiegit @danieltharp
/web/.env.example                   @emmiegit @danieltharp

# Smarty
*.tpl                               @emmiegit @danieltharp
