/* ELEMENTS */

.wj-image-container {
  padding: 1em;
}

.wj-email {
  white-space: nowrap;
}

.wj-raw {
  white-space: pre-wrap;
}

/* TABLES */

.wj-table {
}

/* FOOTNOTES */

a.wj-footnote-ref {
  display: inline-block;
}

.wj-footnotes-list {
}
.wj-footnotes-list .wj-title {
  font-size: 1.3em;
  font-weight: bold;
}

.wj-footnotes-list ol {
  list-style: none;
}

.wj-footnotes-list .wj-footnote {
}
.wj-footnotes-list .wj-footnote span.wj-footnote-sep {
}
.wj-footnotes-list .wj-footnote div.wj-footnote-contents {
}

/* COLLAPSIBLE */

.wj-collapsible-block {
}
.wj-collapsible-block-link {
}
.wj-collapsible-block-unfolded-link {
}

.wj-collapsible-block-content {
  display: block;
}

.wj-collapsible-block-folded {
  display: none;
}

.wj-collapsible-block-unfolded {
  display: block;
}

/* CODE */

.wj-code {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 1em;
}

.wj-code .wj-code-panel {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25em 0.5em;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5em;
}

.wj-code .wj-code-language {
  color: #07a;
  user-select: none;
}

.wj-code .wj-code-copy {
  position: relative;
  z-index: 1;
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0);
  transition: background 0.125s ease-in-out;
  cursor: pointer;
}

.wj-code .wj-code-copy:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Makes the button have a clipboard icon. Icon is "clarity:copy-to-clipboard-line",
   see https://icon-sets.iconify.design/clarity/copy-to-clipboard-line/ (MIT)
*/
.wj-code .wj-code-copy {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20d%3D%22M22.6%204h-1.05a3.89%203.89%200%200%200-7.31%200h-.84A2.41%202.41%200%200%200%2011%206.4V10h14V6.4A2.41%202.41%200%200%200%2022.6%204zm.4%204H13V6.25a.25.25%200%200%201%20.25-.25h2.69l.12-1.11a1.24%201.24%200%200%201%20.55-.89a2%202%200%200%201%203.15%201.18l.09.84h2.9a.25.25%200%200%201%20.25.25z%22%20class%3D%22clr-i-outline%20clr-i-outline-path-1%22%20fill%3D%22%2307a%22%2F%3E%3Cpath%20d%3D%22M33.25%2018.06H21.33l2.84-2.83a1%201%200%201%200-1.42-1.42l-5.25%205.25l5.25%205.25a1%201%200%200%200%20.71.29a1%201%200%200%200%20.71-1.7l-2.84-2.84h11.92a1%201%200%200%200%200-2z%22%20class%3D%22clr-i-outline%20clr-i-outline-path-2%22%20fill%3D%22%2307a%22%2F%3E%3Cpath%20d%3D%22M29%2016h2V6.68A1.66%201.66%200%200%200%2029.35%205h-2.27v2H29z%22%20class%3D%22clr-i-outline%20clr-i-outline-path-3%22%20fill%3D%22%2307a%22%2F%3E%3Cpath%20d%3D%22M29%2031H7V7h2V5H6.64A1.66%201.66%200%200%200%205%206.67v24.65A1.66%201.66%200%200%200%206.65%2033h22.71A1.66%201.66%200%200%200%2031%2031.33v-9.27h-2z%22%20class%3D%22clr-i-outline%20clr-i-outline-path-4%22%20fill%3D%22%2307a%22%2F%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 75%;
  background-repeat: no-repeat;
}

/* Makes the button have a checkmark when clicked. Icon is "fluent:checkmark-12-filled",
   see https://icon-sets.iconify.design/fluent/checkmark-12-filled/ (MIT)
*/
.wj-code .wj-code-copy-success {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M9.765%203.205a.75.75%200%200%201%20.03%201.06l-4.25%204.5a.75.75%200%200%201-1.075.015L2.22%206.53a.75.75%200%200%201%201.06-1.06l1.705%201.704l3.72-3.939a.75.75%200%200%201%201.06-.03z%22%20fill%3D%22%2307a%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.wj-code pre {
  margin: 0;
  padding: 0;
  hyphens: none;
  line-height: 1.5;
  text-align: start;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  cursor: text;
  contain: content;
}

.wj-code code {
  display: block;
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
  user-select: contain;
}

/* todo: wj-language-xxx classes */

/* MODIFIERS */

.wj-monospace {
}

.wj-hidden {
  display: none;
}

.wj-invisible {
  visibility: hidden;
}

/* ALIGNMENT */

.wj-align-left {
  text-align: left;
  padding-left: 0;
}

.wj-align-right {
  text-align: right;
  padding-right: 0;
}

.wj-align-center {
  text-align: center;
}

.wj-align-justify {
  text-align: justify;
}

.wj-float-left {
  float: left;
  padding-left: 0;
}

.wj-float-right {
  float: right;
  padding-right: 0;
}

/* CLEAR FLOAT */

.wj-clear-float-left {
  clear: left;
}

.wj-clear-float-right {
  clear: right;
}

.wj-clear-float-both {
  clear: both;
}

/* USER INFORMATION */

.wj-user-info img.wj-small {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 1px 9px 1px 8px;
  background-repeat: no-repeat;
  background-position: center left;
}

.wj-user-info-name {
}

/* TABLE OF CONTENTS */

#wj-toc-list ul {
  list-style: none;
}

/* MISCELLANEOUS */

.wj-error-block {
  color: #b00;
  border: 1px solid #faa;
  padding: 1em;
  margin: 1em;
}

.wj-error-inline {
  color: #b00;
  border: 1px solid #faa;
}

/* CODE TOKEN COLORS */
/* These colors are simply the default theme for Prism.js. */

.wj-code-token.wj-code-comment,
.wj-code-token.wj-code-prolog,
.wj-code-token.wj-code-doctype,
.wj-code-token.wj-code-cdata {
  color: slategray;
}

.wj-code-token.wj-code-punctuation {
  color: #999;
}

.wj-code-token.wj-code-namespace {
  opacity: 0.7;
}

.wj-code-token.wj-code-property,
.wj-code-token.wj-code-tag,
.wj-code-token.wj-code-boolean,
.wj-code-token.wj-code-number,
.wj-code-token.wj-code-constant,
.wj-code-token.wj-code-symbol,
.wj-code-token.wj-code-deleted {
  color: #905;
}

.wj-code-token.wj-code-selector,
.wj-code-token.wj-code-attr-name,
.wj-code-token.wj-code-string,
.wj-code-token.wj-code-char,
.wj-code-token.wj-code-builtin,
.wj-code-token.wj-code-inserted {
  color: #690;
}

.wj-code-token.wj-code-operator,
.wj-code-token.wj-code-entity,
.wj-code-token.wj-code-url,
.wj-code-token.wj-code-string {
  color: #9a6e3a;
}

.wj-code-token.wj-code-atrule,
.wj-code-token.wj-code-attr-value,
.wj-code-token.wj-code-keyword {
  color: #07a;
}

.wj-code-token.wj-code-function,
.wj-code-token.wj-code-class-name {
  color: #dd4a68;
}

.wj-code-token.wj-code-regex,
.wj-code-token.wj-code-important,
.wj-code-token.wj-code-variable {
  color: #e90;
}

.wj-code-token.wj-code-important,
.wj-code-token.wj-code-bold {
  font-weight: bold;
}
.wj-code-token.wj-code-italic {
  font-style: italic;
}
