[package]
name = "deepwell"
description = "DEEPWELL - Wikijump API provider and database manager"
repository = "https://github.com/scpwiki/wikijump/tree/develop/deepwell"
readme = "README.md"
license = "AGPL-3.0-or-later"
keywords = ["wikijump", "api", "backend", "wiki"]
categories = ["asynchronous", "database", "web-programming::http-server"]
exclude = [".gitignore", ".editorconfig"]

version = "0.3.0"
authors = ["Ammon Smith <ammon.i.smith@gmail.com>"]
edition = "2021" # this is *not* the same as the current year
rust-version = "1.56.0"

[dependencies]
anyhow = "1"
async-std = { version = "1", features = ["attributes"] }
chrono = { version = "0.4", features = ["serde"] }
clap = "3"
color-backtrace = "0.5"
dotenv = "0.15"
fluent = "0.16"
ftml = { version = "1.12", features = ["mathml"] }
futures = { version = "0.3", features = ["async-await"], default-features = false }
governor = "0.4"
hex = "0.4"
hostname = "0.3"
indexmap = "=1.6.2"  # Pinning to avoid cyclic dependency issue, see https://stackoverflow.com/questions/68399961, not actually used. See also https://github.com/tkaitchuck/aHash/issues/95
intl-memoizer = "0.5"
lazy_static = "1"
ref-map = "0.1"
sea-orm = { version = "0.5", features = ["sqlx-postgres", "runtime-async-std-rustls", "macros"], default-features = false }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
sqlx = "0.5"
str-macro = "1"
strum = "0.23"
strum_macros = "0.23"
thiserror = "1"
tide = "0.16"
unic-langid = "0.9"
wikidot-normalize = "0.9"

[build-dependencies]
built = { version = "0.5", features = ["chrono", "git2"] }

# Performance options

[profile.release]
lto = true
