[package]
name = "deepwell"
description = "DEEPWELL - Wikijump API provider and database manager"
repository = "https://github.com/scpwiki/wikijump/tree/develop/deepwell"
readme = "README.md"
license = "AGPL-3.0-or-later"
keywords = ["wikijump", "api", "backend", "wiki"]
categories = ["asynchronous", "database", "web-programming::http-server"]
exclude = [".gitignore", ".editorconfig"]

version = "2023.4.9"
authors = ["Emmie Maeda <emmie.maeda@gmail.com>"]
edition = "2021" # this is *not* the same as the current year

[dependencies]
anyhow = "1"
arraystring = "0.3"
argon2 = "0.5"
async-std = { version = "1", features = ["attributes"] }
chrono = { version = "0.4", features = ["serde"] }
clap = "4"
color-backtrace = "0.5"
crossfire = "1.0"
cuid2 = "0.1"
data-encoding = "2"
dotenv = "0.15"
either = "1"
filemagic = "0.12"
fluent = "0.16"
ftml = { version = "1.21", features = ["mathml"] }
futures = { version = "0.3", features = ["async-await"], default-features = false }
hex = "0.4"
hostname = "0.3"
intl-memoizer = "0.5"
lazy_static = "1"
otp = { git = "https://github.com/TimDumol/rust-otp" }
rand = "0.8"
ref-map = "0.1"
regex = "1"
rust-s3 = { version = "0.32", features = ["with-async-std"], default-features = false }
sea-orm = { version = "0.11", features = ["sqlx-postgres", "runtime-async-std-rustls", "postgres-array", "macros"] }
sea-query = "0.28"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
sqlx = { version = "0.6", features = ["postgres", "runtime-async-std-rustls"] }
str-macro = "1"
strum = "0.24"
strum_macros = "0.24"
subtle = "2.4"
thiserror = "1"
tide = "0.16"
toml = "0.7"
typenum = "1"
unic-langid = "0.9"
void = "1"
wikidot-normalize = "0.10"

# NOTE: "indexmap" was formerly pinned to "=1.6.2" to avoid a cyclic dependency issue.
#       This seems to no longer be necessary, but the comment is kept here in case it becomes a problem again.
#       See: https://stackoverflow.com/questions/68399961
#            https://github.com/tkaitchuck/aHash/issues/95

[build-dependencies]
built = { version = "0.6", features = ["chrono", "git2"] }

# Performance options

[profile.release]
lto = true
