.wj-navbar-link,
.wj-navbar-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
}

.wj-navbar-dropdown-block {
  position: relative;

  &[open] {
    .wj-navbar-dropdown-button {
      color: var(--col-hint);
    }

    @include tolerates-motion {
      .wj-navbar-dropdown-links {
        animation: wj-navbar-dropdown-reveal 125ms ease-out;
      }
    }
  }
}

.wj-navbar-link > a,
.wj-navbar-dropdown-button {
  position: relative;
  font-family: var(--font-display);
  font-size: 0.925rem;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  user-select: none;

  @include tolerates-motion {
    transition: color 75ms;
  }

  @include hover {
    color: var(--col-hint);
  }

  @include focusHighlight($theme: "dark") {
    color: var(--col-hint);
  }
}

.wj-navbar-dropdown-button > .sprite-wj-downarrow {
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.25em;
  vertical-align: baseline;
  opacity: 0.75;
}

.wj-navbar-dropdown-links {
  position: absolute;
  top: 1.5rem;
  left: -10%;
  z-index: $z-popover;
  min-width: 120%;
  padding: 0.25rem 0.5rem;
  list-style: none;
  background: var(--col-background);
  border: solid 0.075rem var(--col-border);
  border-top: solid 0.125rem var(--col-hint);
  border-radius: 0.125rem 0.125rem 0.25rem 0.25rem;
  contain: content;
  @include shadow(2);

  li {
    text-align: center;

    + li {
      border-top: solid 0.075rem var(--col-border);
    }
  }
}

.wj-navbar-dropdown-link {
  display: inline-block;
  min-width: 100%;
  font-size: 0.825rem;
  color: var(--col-text);
  white-space: nowrap;

  @include tolerates-motion {
    transition: color 75ms;
  }

  @include hover {
    color: var(--col-hint);
  }

  @include focusHighlight($theme: "dark") {
    color: var(--col-hint);
  }
}

@keyframes wj-navbar-dropdown-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
