:root {
  /// Font applied widely within the editor.
  --sheaf-font: var(--font-mono);
  /// Font size of the content (as in the editable document) within the editor.
  --sheaf-font-size: 13px;
}

.cm-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--colcode-content);
  background-color: var(--colcode-background);
  caret-color: var(--colcode-accent);

  .cm-scroller {
    position: relative;
    z-index: 0;
    overflow-x: auto;
    font-family: var(--sheaf-font);
    font-size: var(--sheaf-font-size);
    font-weight: 400;
  }

  .cm-content {
    max-width: 45rem;
    line-height: 1.4;
  }

  .cm-gutters {
    color: var(--colcode-comment);
    background-color: var(--colcode-background);
    border: none;
  }

  .cm-gutterElement.lineNumber {
    color: inherit;
  }

  .cm-foldPlaceholder {
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    color: var(--colcode-content);
    background: var(--colcode-commentdoc);
    border: none;
  }

  .cm-button {
    background: none;
    border: 1px solid var(--colcode-border);
  }

  .cm-textfield {
    border: 1px solid var(--colcode-border);
  }

  &.cm-focused ::selection,
  ::selection {
    color: var(--colcode-content);
    background-color: var(--colcode-selection);
  }

  .cm-line {
    ::selection,
    &::selection {
      color: inherit !important;
    }
  }

  .cm-activeLine {
    background-color: var(--colcode-hover);
  }

  .cm-selectionBackground,
  &.cm-focused .cm-selectionBackground {
    background-color: var(--colcode-selection);
  }

  .cm-selectionMatch {
    background-color: var(--colcode-selection);
  }

  .cm-searchMatch {
    background-color: var(--colcode-selection);
    border-radius: 0.125rem;

    &.selected {
      background-color: var(--colcode-selection);
      box-shadow: 0 0 0 0.075rem var(--colcode-accent);
    }
  }

  .cm-matchingBracket,
  .cm-nonmatchingBracket {
    background-color: var(--colcode-hover);
    outline: 1px solid var(--colcode-selection);
  }

  &.cm-focused {
    outline: none;

    .cm-cursor {
      border-left-color: var(--colcode-accent);
    }

    @include tolerates-motion {
      // Makes the mouse cursor smooth
      .cm-cursorLayer {
        animation: cubic-bezier(0.95, 0, 0.05, 1) cm-blink 1.2s infinite;
      }

      .cm-cursor {
        transition: left 0.05s ease-out, top 0.05s ease-out;
      }
    }
  }
}

.cm-editor .cm-tooltip {
  background-color: var(--colcode-background);
  border: 1px solid var(--colcode-border);
  border-radius: 0.25rem;
  @include shadow(4);

  @include tolerates-motion {
    animation: cm-tooltip-fadein 0.125s 1 0s backwards ease-out;
  }

  .cm-completionInfo {
    max-width: 30rem;
  }

  .cm-completionIcon,
  .cm-completionLabel,
  .cm-completionDetail {
    display: inline-block;
    height: 0;
    line-height: 0;
  }

  .cm-completionIcon {
    width: 1rem;
    padding: 0;
    font-family: var(--font-system-default);
    font-size: 0.875rem;
    color: var(--colcode-keyword);
    opacity: 1;
  }

  .cm-completionDetail {
    margin-left: auto;
    font-size: 0.825em;
    font-style: normal;
    opacity: 0.85;
  }

  .cm-completionLabel {
    margin-left: 0.25em;
  }

  &.cm-tooltip-autocomplete {
    animation: none;

    > ul {
      font-family: var(--sheaf-font);
      font-size: 0.875em;
      color: var(--colcode-content);

      > li {
        display: flex;
        align-items: center;
        height: 1.5em;
        padding: 0 0.325em;
        overflow: hidden;

        &[aria-selected] {
          color: var(--colcode-content);
          background-color: var(--colcode-selection);
        }
      }
    }
  }

  .cm-ftml-hover-tip {
    display: inline-block;
    max-width: 30rem;
    padding: 0.25rem 0.5rem;
  }
}

.cm-editor {
  .cm-panels-top {
    border-bottom: 2px solid var(--colcode-border);
  }

  .cm-panels-bottom {
    border-top: 2px solid var(--colcode-border);
  }

  .cm-panels {
    color: var(--colcode-content);
    background-color: var(--col-background);
  }
}

.cm-editor .cm-panel {
  &.cm-panel-lint ul {
    max-height: 16rem;
    padding-right: 0.5rem;
    outline: none;

    // use duplicate selector so we get more specificity
    // the CodeMirror base theme overrides otherwise
    &:focus [aria-selected][aria-selected] {
      background-color: var(--colcode-accent);
    }

    > li {
      margin-bottom: 0.25rem;
      cursor: pointer;
      transition: background-color 0.075s ease;

      &:hover,
      &[aria-selected] {
        background-color: var(--colcode-hover);
      }
    }
  }
}

.cm-editor .cm-diagnostic {
  max-width: 30rem;

  > .cm-diagnosticAction {
    display: block;
    width: 100%;
    padding: 0.125rem 0.25rem;
    padding-left: 0;
    margin: 0;
    font-size: 0.825rem;
    color: var(--col-text);
    text-align: left;
    background: none;
    border-radius: 0;
    transition: background-color 0.075s ease, color 0.075s ease;

    &:not(:last-of-type) {
      border-bottom: solid 0.075rem var(--colcode-border);
    }

    &:hover,
    &[aria-selected] {
      color: var(--colcode-accent);
      background-color: var(--colcode-hover);
    }
  }

  > .cm-diagnosticSource {
    margin-top: 0.25rem;
  }
}

// Replace CodeMirror's step-wise blink animations with our own smooth ones
// CodeMirror has two identical blink animations that it alternates between
// This is for technical reasons, mostly due to quirks with restarting CSS animations

// prettier-ignore
@keyframes cm-blink {
  0% {}
  50% { opacity: 0; }
  100% {}
}

// prettier-ignore
@keyframes cm-blink2 {
  0% {}
  50% { opacity: 0; }
  100% {}
}

// prettier-ignore
@keyframes cm-tooltip-fadein {
  0% { opacity: 0 ;}
  100% { opacity: 1; }
}
