.wj-math-inline {
  display: inline-block;
}

.wj-math-block {
  position: relative;
  display: block;

  .wj-error-block,
  .wj-math-ml {
    display: block;
    margin: 0 3em;
    text-align: center;
  }
}

.wj-equation-number {
  position: absolute;
  top: 50%;
  right: 1em;
  display: block;
  transform: translateY(-50%);
}

.wj-math-ml.wj-math-ml-polyfilled math {
  @include hide-visually;
}

.wj-equation-ref-marker {
  display: inline;
  // makes the marker artifically bigger
  padding: 0.5em;
  margin: -0.5em;
  cursor: pointer;
  user-select: none;
}

.wj-equation-ref-tooltip {
  position: absolute;
  z-index: $z-popover;
  display: inline-block;
  width: max-content;
  margin: 0 !important;

  @include tolerates-motion {
    transition: opacity 100ms ease, visibility 0ms;
  }

  &:not(.is-hovered) {
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    opacity: 0;
    transition-delay: 0ms, 100ms;
  }

  &.is-hovered {
    pointer-events: all;
    visibility: visible;
    user-select: text;
    opacity: 1;
    transition-delay: 0ms, 0ms;
  }
}
