#page_info {
  position: relative;
  display: flex;
  align-items: flex-end;
}

#page_info_tags_header {
  flex-grow: 1;
}

.page-info-sep,
#page_info_category,
#page_info_revision,
#page_info_last_edit {
  font-family: var(--font-mono);
  font-size: 0.625rem;
  color: var(--col-text-subtle);
}

.page-info-sep {
  margin: 0 0.5rem;
}

@include media("<=small") {
  #page_info_category,
  #page_info_category + .page-info-sep {
    display: none;
  }
}

@include media("<=narrow") {
  #page_info_revision,
  .page-info-sep {
    display: none;
  }
}

@include media("<=tiny") {
  #page_info_last_edit {
    display: none;
  }
}
