/* from: http://www.openwebdesign.org/viewdesign.phtml?id=3185&referer=%2Fbrowse.php */

body{
	background:#fafafa; 
	font: 0.8em Verdana, arial, helvetica,sans-serif;
}

a { color: #3c52be;	 background: inherit; text-decoration:none;}
a:hover { color: #883225;  background:inherit; text-decoration: none;	border-bottom: dashed 1px #883225;}

.bodyimg{ float:left; padding: 4px 5px 3px 10px;}
.hide{display:none;}

.orng{ background:inherit; color:#cc6600;}
.brown{ background:inherit; color:#643200;}

#container { margin: 0 auto 0 auto; width:100%;}

h1{
 background: inherit;
 color:#8f2936;
 font:normal 250%  "Century Gothic", georgia, Verdana, Arial, Helvetica, sans-serif;
}

h2{
  background:inherit;
	padding-left: 1em;
  color:#8f2936;
  font:normal 150% "Century Gothic", georgia, Verdana, Arial, Helvetica, sans-serif;
}

h3{
	margin:36px 0 0 32px;
	padding:0;
  background:inherit;
  color:#4e6241;
  font:normal 130% "Century Gothic", georgia, Verdana, Arial, Helvetica, sans-serif;
}

#header{
 width:100%;
 height:200px;
 color:#000;
 background:  #fafafa;
 text-align:center;
 padding:0 0 8px 0;
 margin:0; border-bottom:solid 1px #A6A6A6;
}

#header-extra-div-1{
 width:173px;
 height:148px;

 background: transparent url(../images/flors.gif); background-repeat:no-repeat;
 padding:0;
 margin:0;
position: absolute;
top:2em; left:0;
}

#header-extra-div-2{
 width:173px;
 height:148px;

 background: transparent url(../images/florsr.gif); background-repeat:no-repeat;
 padding:0;
 margin:0;
	position: absolute;
top:2em; right:0;
}

#header-extra-div-3{
	position: absolute;
	top:0; left:0; right:0;
	width: 100%;
	height: 2em;
	background-color: #46523f;
	 border-bottom: 1px solid  #3f3c1e;
}

#header h1{
	padding-top: 60px;
	font-size: 250%;
}
#header h2{
	font-size: 220%;
}
#login-status, #login-status a {
	color: #EEE;
	font-weight:bold;
}

#account-options a,#account-options, a#account-topbutton{
	color: #333;
	font-weight: normal;
}

#login-status{
	top: 3px;
}

#login-status img{
	display:none;
}
#login-status a:hover{
	background-color: #494;
}
#account-options a:hover{
	background-color: #EEE;
}	

#login-status{
	right: 22em;
}

#search-top-box{
	top: 2px;
	z-index: 50;
	background-color: transparent;
}

#top-bar{
  text-align:center;
  padding: 0;

  background: #687d4a url(../images/navbck.png);
  color:#e0eac8;
  border-top: 1px solid  #3f3c1e;  border-bottom: 1px solid  #3f3c1e;
	left: 0; right: 0;
	/*padding-left: 20%;*/
	width: 100%;
}


#top-bar ul{
	padding-left: 20%;
}
#top-bar ul li{
	margin: 0;
}
#top-bar ul li a{
 margin:0;
 text-align:center;
 text-decoration:none;
 padding: 8px 1em;
 color:#edeeca;
 border-left:1px solid #3f3c1e;
 background: #687d4a url(../images/navbck.png);
 line-height:30px;
 font:normal 100% verdana, "Century Gothic",  Arial, Helvetica, sans-serif;
}

#top-bar a:hover{
 color:#333;
 background: #486127 url(../images/navbck3.png); border-bottom:0;
}




#page-content{
  color:#333;
  background:#fafafa;
  padding:0;
  margin:1em;
}

#content-wrap{
	overflow: hidden;
}

#side-bar{
  width:24%;
  float:left;
  padding: 0;
  margin:0;
  background: #fafee9;
  color:#000;	
	border-right: 1px solid #3f3c1e;
}

#side-bar p{ line-height:1.5em; padding: 2px 8px 0 14px; margin:0;}

#side-bar ul{
  margin: 12px 0 2px 0;
  padding:0;
  list-style:none;
}

#side-bar li {
  margin:0 0 4px 18px;
  padding:0;
  list-style:none;
}

#side-bar a { background:inherit; color:#3c52be; font-size:100%;}
#side-bar a:hover { background:inherit; color:#AA1835;}

#side-bar h1{
  background:#687d4a url(../images/navbck.png);
  color:#e0eac8;
  margin: 24px 0 0 0;
  padding: 10px 10px 10px 10px;
  border-top:1px solid #3f3c1e;
  border-bottom:1px solid #3f3c1e;
  font-size: 130%;
}





#main-content{ 
	margin:0; 
	margin-left: 24%; 
	background:#fafafa; 
	color:#333;
	padding:1em; 
	 
	
}

#main-content p{
	line-height: 1.3em;
}



#footer{
  margin:0;

  clear:both;
  text-align:left;
  background: #486127;
  color:#e0eac8;
  padding: 8px 1em;
  border-top: 1px solid  #3f3c1e;
}

#footer a{
color:#edeeca;
}

#footer a:hover{
 color:#333;
}
#footer p{
	margin: 0;
	padding:0;
  font:normal 100%  Verdana, Arial,Helvetica, serif;
}

