// Import `include-media` package from NPM
@import "../../node_modules/include-media/dist/include-media";

// Set import-media breakpoints
// prettier-ignore
$breakpoints: (
  narrow: 400px,  // approx. phones
  small: 800px,   // approx. tablets
  normal: 1000px, // approx. desktops
  wide: 1400px    // approx. extra wide monitors
)
