// -- CODE BLOCKS

pre.code {
  position: relative;
  font-size: font-size(1rem);
  hyphens: none;
  line-height: 1.5;
  text-align: start;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  contain: content;

  // make font smaller on narrow screens
  @include media("<=narrow") {
    font-size: font-size(0.875rem);
  }

  > code {
    display: block;
    overflow-x: auto;
    color: var(--colcode-content);
  }
}

// -- TOKEN COLORS

// weird selector is so we get priority over the default FTML selectors
.wj-code-token.wj-code-token {
  &.wj-code-block-comment,
  &.wj-code-cdata,
  &.wj-code-comment,
  &.wj-code-doctype,
  &.wj-code-prolog {
    color: var(--colcode-comment);
  }

  &.wj-code-punctuation {
    color: var(--colcode-punct);
  }

  &.wj-code-variable,
  &.wj-code-parameter {
    color: var(--colcode-ident);
  }

  &.wj-code-deleted {
    color: var(--colcode-invalid);
  }

  &.wj-code-inserted {
    color: var(--colcode-inserted);
  }

  &.wj-code-function,
  &.wj-code-function-name,
  &.wj-code-attr-id {
    color: var(--colcode-function);
  }

  &.wj-code-property {
    color: var(--colcode-property);
  }

  &.wj-code-tag {
    color: var(--colcode-tag);
  }

  &.wj-code-attr-name,
  &.wj-code-attr-value,
  &.wj-code-escaped,
  &.wj-code-selector {
    color: var(--colcode-attribute);
  }

  &.wj-code-attr-value {
    color: var(--colcode-string);
    > :not(.wj-code-token.wj-code-attr-equals) {
      color: var(--colcode-string);
    }
    > .wj-code-token.wj-code-attr-equals {
      color: var(--colcode-punct);
    }
  }

  &.wj-code-boolean,
  &.wj-code-number,
  &.wj-code-constant,
  &.wj-code-symbol,
  &.wj-code-unit {
    color: var(--colcode-constant);
  }

  &.wj-code-keyword,
  &.wj-code-atrule,
  &.wj-code-important {
    color: var(--colcode-keyword);
  }

  &.wj-code-char,
  &.wj-code-string {
    color: var(--colcode-string);
  }

  &.wj-code-builtin,
  &.wj-code-generic,
  &.wj-code-class-name {
    color: var(--colcode-type);
  }

  &.wj-code-url {
    color: var(--colcode-link);
  }

  &.wj-code-namespace,
  &.wj-code-entity {
    color: var(--colcode-entity);
  }

  &.wj-code-regex,
  &.wj-code-operator {
    color: var(--colcode-operator);
  }

  &.wj-code-keyword-this,
  &.wj-code-keyword-self {
    color: var(--colcode-special);
  }

  &.wj-code-keyword-public,
  &.wj-code-keyword-private,
  &.wj-code-keyword-readonly,
  &.wj-code-keyword-const,
  &.wj-code-keyword-let,
  &.wj-code-keyword-var,
  &.wj-code-keyword-new,
  &.wj-code-keyword-type {
    color: var(--colcode-storage);
  }

  &.wj-code-bold,
  &.wj-code-important {
    font-weight: bold;
  }

  &.wj-code-italic {
    font-style: italic;
  }
}
