.wj-code {
  position: relative;
  display: block;

  pre {
    display: block;
    padding: 0;
    margin: 0;
    hyphens: none;
    line-height: 1.5;
    text-align: start;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    white-space: pre;
    cursor: text;
    contain: content;
  }

  code {
    display: block;
    overflow-x: auto;
    user-select: contain;
  }
}

.wj-code-panel {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.wj-code-language {
  user-select: none;
}

.wj-code-copy {
  position: relative;
  z-index: $z-above;
  width: 2em;
  height: 2em;
  cursor: pointer;

  > .wj-sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translate(-50%, -50%);
  }

  > .sprite-wj-clipboard-success {
    display: none;
  }

  &.wj-code-copy-success {
    .sprite-wj-clipboard {
      display: none;
    }
    .sprite-wj-clipboard-success {
      display: block;
    }
  }
}
