.pages-list{}

.pages-list-item table{
	width: 97%;
}


.pages-list-item{
	overflow: visible;
	padding: 2px;
}
.pages-list-item .title{
	
}
.pages-list-item:hover{
	background-color: #F2F2F2;
}

.pages-list-item .last-mod-date{
	text-align: right;
	width: 17em;

}

.pages-list-item .revision-no{
	text-align: center;
	width: 7em;
}

.pages-list-item .last-mod-by{
	width: 15em;
	text-align: left;
}
.pages-list-item .preview{
	font-size: 90%;
	color: #666;
	margin: 2px 0;
}
