version: '3.8'

services:
  cache:
    image: memcached:1.6-alpine
    restart: always
  database:
    build:
      context: ./postgres
      args:
        FILES_DOMAIN: 'wjfiles.test'
    restart: always
  php-fpm:
    build:
      context: ./php-fpm
      args:
        MAIN_DOMAIN: 'wikijump.test'
        FILES_DOMAIN: 'wjfiles.test'
    links:
      - cache
      - database
    restart: always
    depends_on:
      - cache
      - database
    labels:
      - traefik.enable=true
      - traefik.http.routers.php-fpm.tls=true
      - traefik.http.routers.php-fpm.rule=Method(`GET`,`POST`,`HEAD`,`PUT`,`PATCH`,`DELETE`)  # Poor man's default route
    # If you wish to map the web files to a local working copy uncomment whichever makes sense below.
    # volumes:
    #   - C:\wikijump:/var/www/wikijump
    #   - /var/www/wikijump:/var/www
  reverse-proxy:
    image: traefik:v2.3
    command:
      - --providers.docker
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=web-secure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.web-secure.address=:443
      - --providers.file.filename=/ssl/tls.toml
    ports:
      - "80:80"
      - "443:443"
    links:
      - php-fpm
    depends_on:
      - php-fpm
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ssl:/ssl
