// Import `include-media` package from NPM
// Normally, Vite and whatever other tooling can resolve from `node_modules` just fine.
// But here, it just isn't playing along well and it's much more reliable if I just path
// directly to the file I'm wanting.
@import "../../node_modules/include-media/dist/include-media";

// Set import-media breakpoints
// prettier-ignore
$breakpoints: (
  tiny:    350px, // exceptionally narrow phones
  narrow:  500px, // approx. phones
  small:   850px, // approx. tablets, landscape phones, laptops
  normal: 1000px, // approx. desktops
  wide:   1400px  // approx. extra wide monitors
)
