/// Above content z-index.
$z-above: 100;

/// Popover z-index, e.g. dropdowns.
$z-popover: 200;

/// Panel z-index, e.g. sidebar.
$z-panel: 300;

/// Dialog z-index, e.g. modals.
$z-dialog: 400;

/// Overlay element z-index, e.g. tips.
$z-overlay: 500;
