#app:not(.is-plain) {
  display: grid;

  --layout-total-footer-height: var(--layout-footer-height);

  // prettier-ignore
  --layout-body-centering-factor: calc(
    (50vw - (var(--layout-body-max-width) / 2)) - var(--layout-sidebar-width));
  //  ^                       ^                                 ^
  // View center   Offset to left edge of body      Account for sidebar width

  // prettier-ignore
  --layout-min-body-height: calc(100vh - (
    var(--layout-navbar-height) +
    var(--layout-header-height) +
    var(--layout-total-footer-height)
  ));

  grid-template-areas:
    "header  header  header"
    "navbar  navbar  navbar"
    ".       main    .     "
    "footer  footer  footer";

  grid-template-rows:
    var(--layout-header-height)
    var(--layout-navbar-height)
    minmax(var(--layout-min-body-height), auto)
    var(--layout-total-footer-height);

  grid-template-columns:
    minmax(var(--layout-body-side-gap), 1fr)
    minmax(0, var(--layout-body-max-width))
    minmax(var(--layout-body-side-gap), 1fr);

  &.has-sidebar {
    @include media(">small") {
      grid-template-areas:
        "header  header  header  header"
        "navbar  navbar  navbar  navbar"
        "sidebar .       main    .     "
        "footer  footer  footer  footer";

      grid-template-columns:
        var(--layout-sidebar-width)
        minmax(var(--layout-body-side-gap), var(--layout-body-centering-factor))
        minmax(0, var(--layout-body-max-width))
        minmax(var(--layout-body-side-gap), 1fr);
    }

    #sidebar {
      @include media(">=normal");
    }
  }

  &.has-license {
    --layout-total-footer-height: calc(
      var(--layout-footer-height) + var(--layout-license-height)
    );
  }

  // we might still have the sidebar element due to
  // it being needed for mobile
  @include media(">=normal") {
    &:not(.has-sidebar) #sidebar {
      display: none;
    }
  }
}

#app.is-plain {
  display: grid;

  // prettier-ignore
  --layout-min-body-height: calc(100vh - (
    var(--layout-header-height) +
    var(--layout-footer-height)
  ));

  grid-template-areas:
    "header  header  header"
    ".       main    .     "
    "footer  footer  footer";

  grid-template-rows:
    var(--layout-header-height)
    minmax(var(--layout-min-body-height), auto)
    var(--layout-footer-height);

  grid-template-columns:
    minmax(var(--layout-body-side-gap), 1fr)
    minmax(0, 80rem)
    minmax(var(--layout-body-side-gap), 1fr);
}

#header {
  grid-area: header;
}

#navbar {
  grid-area: navbar;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}
