#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85rem;
  color: var(--col-dark-text);
  background: var(--col-dark-background);
}

#footer_main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: var(--layout-footer-height);

  a {
    display: inline-block;
    margin: 0 0.25rem;
    color: var(--col-dark-text);
    text-decoration: none;

    @include tolerates-motion {
      transition: color 75ms ease;
    }

    @include hover {
      color: var(--col-hint);
    }
  }
}

#footer_license {
  height: var(--layout-license-height);
  padding: 0.125rem 0;
  text-align: center;
  background: var(--col-accent-2);

  a {
    color: var(--col-dark-text);
  }
}
