#header {
  display: flex;
  align-items: center;
  padding: 0 3vw;
  background: linear-gradient(var(--col-accent-2) 0%, var(--col-accent-1) 100%);
}

#header_logo_img {
  height: calc(var(--layout-header-height) * 0.75);
}

#header_logo_title {
  font-size: calc(var(--layout-header-height) * 0.5);
  color: var(--col-white);
}

#app.is-plain #header {
  border-bottom: solid 0.125rem var(--col-dark-border);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
}

#header > wj-component-loader[ld-load="ClientStatus"] {
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: auto;

  @include media("<=small") {
    display: none;
  }
}
