#navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--layout-navbar-height);
  padding: 0 2rem;
  color: var(--col-text);
  background: var(--col-dark-background);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.25);

  @include media("<=small") {
    position: sticky;
    top: 0;
    z-index: $z-panel;
    padding: 0;
    padding-left: 0.5rem;
    box-shadow: none;

    // avoid sticky navbar when landscape,
    // due to very limited screen real estate
    @include landscape {
      position: relative;
    }
  }
}

#sidebar_button {
  display: none;

  @include media("<=small") {
    box-sizing: content-box;
    display: inline-block;
    flex-shrink: 0;
    width: 1.75rem;
    height: 1.75rem;
    color: var(--col-text);
    cursor: pointer;

    @include tolerates-motion {
      transition: color 75ms;
    }

    @include hover {
      color: var(--col-hint);
    }

    &:active {
      color: var(--col-hint);
    }
  }
}

#navbar > wj-component-loader[ld-load="Search"] {
  display: flex;
  align-items: center;
  width: var(--layout-navbar-search-width);
  height: 100%;
  margin-right: 2rem;
  font-size: 0.875rem;

  @include media("<=small") {
    flex-grow: 1;
    width: auto;
    margin: 0 1rem;
    font-size: 1rem;
  }
}

.wj-navbar-elements {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 100%;
  list-style: none;

  > li {
    height: 100%;
  }

  @include media("<=small") {
    display: none;
  }
}

#navbar > wj-component-loader[ld-load="ClientStatus"] {
  flex-shrink: 0;
  justify-self: flex-end;
  margin-right: 0.5rem;
  margin-left: auto;

  @include media(">=normal") {
    display: none;
  }
}
