#sidebar {
  display: block;
  background: var(--col-background);
  border-right: solid 0.125rem var(--col-border);

  @include media("<=small") {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-panel;
    min-width: 75vw;
    overflow-y: auto;
    overscroll-behavior: contain;
    box-shadow: 0 0 0 transparent;
    transition: transform 250ms, box-shadow 250ms;
    transform: translateX(-105%);

    #sidebar_sticky {
      visibility: hidden;
      transition: visibility 250ms;
    }

    &[open] {
      box-shadow: 10rem 0 5rem rgba(0, 0, 0, 0.25);
      transform: translateX(0);

      #sidebar_sticky {
        visibility: visible;
      }
    }
  }
}

#sidebar_sticky {
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  @include media("<=small") {
    position: static;
    max-height: none;
    overflow: visible;
  }
}
