#sidebar {
  display: block;
  background: var(--col-background);
  border-right: solid 0.125rem var(--col-border);

  @include media("<=small") {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: $z-panel;
    min-width: 75vw;
    overflow-y: auto;
    overscroll-behavior: contain;
    box-shadow: 0 0 0 transparent;
    transition: transform 250ms, box-shadow 250ms;
    transform: translateX(-105%);

    #sidebar_sticky {
      visibility: hidden;
      transition: visibility 250ms;
    }

    &[open] {
      box-shadow: 10rem 0 5rem rgba(0, 0, 0, 0.25);
      transform: translateX(0);

      #sidebar_sticky {
        visibility: visible;
      }
    }
  }
}

.wj-sidebar-nav-elements {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;

  > li {
    height: 100%;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: solid 0.075rem var(--col-border);

    &:last-child {
      border-bottom: none;
    }
  }

  @include media(">=normal") {
    display: none;
  }
}

.wj-sidebar-nav-hr {
  margin: 0.5rem 0;
  @include media(">=normal") {
    display: none;
  }
}

#sidebar_sticky {
  position: sticky;
  top: 0;
  max-height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  @include media("<=small") {
    position: static;
    max-height: none;
    padding-top: 4rem;
    overflow: visible;
  }
}

#sidebar_close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-bottom: solid 0.125rem var(--col-border);

  @include media(">=normal") {
    display: none;
  }
}

#sidebar_close_button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  box-sizing: content-box;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--col-text);
  cursor: pointer;
  transform: translateY(-50%);

  @include tolerates-motion {
    transition: color 75ms;
  }

  @include hover {
    color: var(--col-hint);
  }

  &:active {
    color: var(--col-hint);
  }
}
