// Abstracts
@import "abstracts";

// Vendor

// Base
@import "base/reset";
@import "base/typography";
@import "base/base";
@import "base/a11y";

// Layout

// Components
@import "components/code";
@import "components/links";
@import "components/scrollbar";
@import "components/sheaf";
@import "components/tippy";
@import "components/wikitext";

// Pages

// Themes
@import "themes/colors";
@import "themes/code";
@import "themes/layout";

// Import font-faces as .css to resolve relative imports
// TODO: replace this if possible - this is a hacky workaround
@import "wj-css/src/font-faces.css";
