.wj-footnote-ref {
  .wj-footnote-ref-marker {
    @include reset;
    position: relative;
    // makes the marker artifically bigger
    padding: 0.5em;
    margin: -0.5em;
    font-size: 0.75em;
    font-style: italic;
    color: #0000ee;
    vertical-align: super;
    cursor: pointer;

    @include hover {
      text-decoration: underline;
    }
  }

  .wj-footnote-ref-tooltip {
    position: absolute;
    z-index: 1;
    display: block;
    max-width: 30rem;
    padding: 0.5em;
    // important for how Popper works
    margin: 0 !important;
    font-size: 0.85em;
    visibility: hidden;
    user-select: contain;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0.25em;
    opacity: 0;
    @include shadow(4, 1);

    @include tolerates-motion {
      transition: opacity 0.075s ease-out, visibility 0.075s ease-in;
    }

    &.is-hovered {
      visibility: visible;
      opacity: 1;
    }
  }

  .wj-footnote-ref-tooltip-label {
    display: block;
    font-weight: bold;
  }
}

.wj-footnotes-list {
  .wj-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  ol {
    list-style: none;
  }

  .wj-footnote {
    span.wj-footnote-sep {
    }

    div.wj-footnote-contents {
    }
  }
}
