// Avoid setting scrollbars for something that's probably a phone
@include media(">narrow") {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(120, 120, 120, 0.35) transparent;
  }

  // This webkit scrollbar matches Firefox's thin scrollbar fairly closely

  // Track
  ::-webkit-scrollbar {
    width: 10px;
  }

  // Handle
  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 10px rgba(120, 120, 120, 0.35);
  }

  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgba(120, 120, 120, 0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 10px 10px rgba(80, 80, 80, 0.5);
  }

  // Horizontal Handle
  ::-webkit-scrollbar-thumb:horizontal {
    border: 5px solid transparent;
    border-radius: 10px;
  }
}
