.wj-collapsible {
  display: block;
}

.wj-collapsible-button {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  user-select: none;
}

.wj-collapsible-block[open] .wj-collapsible-button-folded {
  display: none;
}

.wj-collapsible-block:not([open]) .wj-collapsible-button-unfolded {
  display: none;
}

.wj-collapsible-content {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
