.wj-collapsible-block {
}
.wj-collapsible-block-link {
}
.wj-collapsible-block-unfolded-link {
}

.wj-collapsible-block-content {
  display: block;
}

.wj-collapsible-block-folded {
  display: none;
}

.wj-collapsible-block-unfolded {
  display: block;
}
