.wj-footnote-ref {
  position: relative;
}

.wj-footnote-ref-marker {
  position: absolute;
  display: inline;
  // makes the marker artifically bigger
  padding: 0.5em;
  margin: -0.5em;
  cursor: pointer;
  user-select: none;
}

.wj-footnote-ref-tooltip {
  position: absolute;
  z-index: $z-popover;
  display: inline-block;
  width: max-content;
  margin: 0 !important;

  @include tolerates-motion {
    transition: opacity 100ms ease, visibility 0ms;
  }

  &:not(.is-hovered) {
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    opacity: 0;
    transition-delay: 0ms, 100ms;
  }

  &.is-hovered {
    pointer-events: all;
    visibility: visible;
    user-select: text;
    opacity: 1;
    transition-delay: 0ms, 0ms;
  }
}

.wj-footnote-ref-tooltip-label {
  display: inline-block;
  width: 100%;
}

.wj-footnote-ref-tooltip-contents {
  display: inline-block;
  width: 100%;
}

.wj-footnote-list ol {
  list-style: none;
}

.wj-footnote-list-item {
  display: flex;
  align-items: flex-start;
}

.wj-footnote-list-item-marker {
  display: block;
  cursor: pointer;
}

.wj-footnote-list-item-contents {
  display: block;
}
