# Provisional Caddyfile
#
# This is meant to be used as a default in the case
# where DEEPWELL cannot be reached yet (or is erroring
# for reasons unknown).
#
# This enables minimum caddy function until a later Caddyfile
# update cronjob succeeds or the issue can be fixed manually.
#
# Variables (denoted by '<<NAME>>') are replaced in the image build.

deploy.wikijump.com {
	# Never forward client-supplied Wikijump trust headers to Komodo.
	request_header -X-Wikijump-*
	reverse_proxy <<DEPLOY_HOST>>
}

deploy.wjfiles.com {
	redir https://deploy.wikijump.com
}

# Display fallback error
http:// {
	respond 502 {
		body <<EOF
		ERROR XF-1005
		Backend still starting up or fatal error
		EOF

		close
	}
}
