language: rust
rust:
  - stable
  - beta
  - nightly

os:
  - linux
  - osx
  - windows

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: cargo

before_script:
  - rustup component add rustfmt

stages:
  - format
  - test
  - bin
  - doc

jobs:
  include:
    - stage: format
      script:
        - cargo fmt --all -- --check
    - stage: test
      rust:
        - stable
        - beta
        - nightly
      os:
        - linux
        - osx
        - windows
      script:
        - cargo build --verbose
        - cargo test --verbose -- --nocapture
    - stage: bin
      script:
        - cargo build --verbose --example ftml
    - stage: doc
      script:
        - cargo doc --verbose

notifications:
  email:
    on_success: change
    on_failure: always
