name: '[l10n] Localization'

on:
  push:
    paths:
      - 'locales/*.yaml'
      - 'locales/messages/**'
      - '.github/workflows/locales.yaml'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: System Dependencies
        run: sudo apt install gettext

      - name: Pip Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-locale-build-${{ hashFiles('locales/messages/requirements.txt') }}

      - name: Build
        run: |
          # Dependencies
          cd locales
          python -m pip install --upgrade pip
          pip install -r messages/requirements.txt

          # Scripts
          python -m messages .

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: locales
          path: locales/out

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Pip Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-locale-lint-${{ hashFiles('locales/messages/requirements.txt') }}

      - name: Build
        run: |
          # Dependencies
          cd locales
          python -m pip install --upgrade pip
          pip install -r messages/requirements.txt
          pip install -r messages/requirements-dev.txt

          # Formatting check
          black --check messages

          # Linting
          pylint messages
