*                      text=auto
web/**                 linguist-vendored
pnpm-lock.yaml         binary linguist-vendored linguist-generated
**/vendor/**           binary linguist-vendored linguist-generated
*.json                 linguist-language=JSON-with-Comments
CHANGELOG.md           export-ignore
