# Configuration files
conf/wikidot.ini
conf/wikijump.ini

# Vendor
/vendor
composer.phar
/node_modules

# Temporary or Data
/tmp
/coverage
/web/files--common/tmp
/web/files--sites
.ultra.cache.json

# Built files
/web/files--common/dist
/public/build
/public/manifest.json

# Lock Files
composer.lock
package-lock.json

# Laravel suggestions not already included.
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
