# Configuration files
conf/wikidot.ini
conf/wikijump.ini

# Vendor
/vendor
composer.phar
/node_modules

# Temporary or Data
/tmp
/web/files--common/tmp
/web/files--sites

# Built files
/web/files--common/dist
